.loading[data-v-d802d186]{text-align:center;color:#666;padding:20px}.error[data-v-cdf2b539]{color:#dc3545;text-align:center;padding:10px;background-color:#f8d7da;border-radius:4px;margin-bottom:20px}
